body{
    font-family: 'arial', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 0;
    padding:0;
    height:100vh;
    background-color:#3f3d3d
}
h1{
    margin-bottom:12px;
    color:#f0f0f0
}
p{
    font-size: 1.2em;
    color:#f0f0f0
}
h3{
    color:#f0f0f0;
}
.container{
    background-color:#464444;
    padding:50px;
    border-radius:12px;
    box-shadow: 0 4px 15px 0 rgba(17, 5, 126, 0.788);
    text-align: center;
    width:550px;
}
input{
    padding:16px;
    width:240px;
    border:none;
    border: solid rgba(53, 34, 34, 0.4);
    border-radius:12px;
    margin-bottom:18px;
    align-items: center;
}
.guessing-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:36px;
}
button{
    text-align: center;
    border:none;
    width:160px;
    padding:12px;
    font-size:1.3em;
    font-weight:600;
    border-radius:12px;
    background-color: #353232;
    border:solid rgba(8, 7, 7, 0.1);
    color:#f0f0f0;
}
#restartBtn{
    display:none;
}
button:hover{
    cursor:pointer;
    background-color: rgba(0,0,0,0.2);
}