*{
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    background-color:#f4f4f9;
}
.calculator-container{
    width:320px;
    background-color:#ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    padding:20px;
}
.calculator-screen{
    height:80px;
    background-color:#252525;
    display:flex;
    justify-content:center;
    align-items: center;
    padding-right:20px;
    margin-bottom:20px;
    border-radius:8px
}
.calculator-display{
    width: 100%;
    height:100%;
    text-align:right;
    font-size: 36px;
    color:white;
    background-color:transparent;
    border:none;
    outline:none
}
.calculator-keys{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
}
button{
    height:60px;
    border:none;
    background-color:#eaeaea;
    border-radius: 8px;
    font-size: 24px;
    color:#0d0c0c;
    transition:background-color 0.3s ease;
    cursor:pointer;
}
button:hover{
    background-color:#c8c2c2;
}
.operator{
background-color: rgb(229, 229, 44);
}
.operator:hover{
    background-color: rgb(206, 206, 85);
}
.equal-sign{
    background-color:rgb(65, 65, 242)
}
.equal-sign:hover{
    background-color: rgb(48, 48, 167);
}
.all-clear{
    background-color: rgb(245, 65, 65);
}
.all-clear:hover{
    background-color: rgb(170, 59, 59);
}
.zero{
grid-column: 2 span;
}