body{
    font-family:'arial', sans-serif;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #f0f0f0;
}
.paint-container{
    background-color: #ffff;
    max-width:600px;
    width:100%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1);
}
.input-container{
    display:flex;
    align-items: center;
    padding:20px;
}
input{
    height:50px;
}
button{
    width:120px;
    font-size: 1em;
    padding:12px;
}
.canvas{
    border: 1px rgba(75, 10, 10, 0.2);
}