body{
    font-family: 'arial', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}
.audio-container{
    display:flex;
    justify-content: start;
    padding-left: 20px;
    width:80vh;
    height: 40vh;
    background-color: rgb(214, 233, 144);
    border-radius: 12px;
    border: solid 14px #dae07f;
    padding: 16px;  
    font-size: 1.2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}
.audio-controls{
    display:flex;
    background-color: #dae07f;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    border-radius:12px;
}
.audio-run{
    display:flex;
    align-items: center;
    gap:20px;
    width:300px;
    padding:20px;
    background-color:rgb(180, 179, 84);
    border-radius:8px;
}
.audio-list{
    border-right:solid rgb(216, 216, 116);
    width:300px;
    padding-right: 14px;
    display:flex;
    align-items: start;
    justify-content: center;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
.audio-list input{
    margin-bottom: 12px;
    background-color: #dae07f;
    border:none;
    width:100%;
}
#play-pause{
    background-color: #ced659;
    border:none;
    border-radius:50%;
    width:50px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.progress-container{
    flex-grow:1;
    background-color:#ced659;
    border-radius:5px;
    height:10px;
}
#progress-bar{
    height:100%;
    width:1%;
    background-color:#ffffff;
    border-radius:5px;
}
.label-input{
    background-color: hsl(64, 90%, 68%);
    padding:8px;
    text-align: center;
    width:100%;
    border-radius:8px;
    cursor: pointer;
    border-bottom: solid 4px hsl(64, 90%, 58%);
    font-size: 1.2em;
    transition: 0.2s ease;
}
#selectedAudio{
    margin-top: 12px;
    font-weight: bold;
    color:hsl(69, 45%, 26%)
}
.label-input:hover{
    background-color: hsl(64, 90%, 76%);
}