body{
    font-family: 'arial', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #f0f0f0;
    margin:0;
    padding:0;
}
.audio-container{
    display:flex;
    justify-content: start;
    padding-left: 20px;
    width:80vh;
    height: 40vh;
    background-color: rgb(214, 233, 144);
    border-radius: 12px;
    border: solid 14px #dae07f;
    padding: 16px;  
}
.audio-controls{
display:flex;
background-color: #dae07f;
width:100%;
justify-content: center;
align-items: center;
padding-left: 18px;
}
.audio-list{
    border-right:solid rgb(216, 216, 116);
}
.audio-list input{
    margin-bottom: 12px;
    background-color: #dae07f;
    border:none;
}