*{
    box-sizing: border-box;
}
body{
    font-family: 'arial',sans-serif;
    margin:0;
    padding:0;
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color:#f0f0f0;
}
.container{
    display:flex;
    flex-direction:column;
}
header{
    margin-bottom:20px;
    text-align:center;
}
header h1{
    color:#333;
    font-size:2em;
    margin-bottom:20px;
}
header h2{
    color:#666;
    font-size:1em;
    margin-bottom:10px;
}
.carousel-container{
    position:relative;
    max-width:1000px;
    width: 100%;
    overflow:hidden;
    border-radius:14px;
    box-shadow:0 10px 30px  rgba(0,0,0,0.1);
}
.carousel-slide{
    display:flex;
    transition: transform 0.4s ease-in-out;
}
.carousel-slide img{
    width:100%;
    border-radius:12px;
}
.prev-btn,.next-btn{
    position:absolute;
    background-color:rgba(0,0,0,0.4);
    top:50%;
    cursor:pointer;
    transform:translateY(-50%);
    color:white;
    padding: 10px;
    font-size:20px;
    border-radius:50%;
    border:none;
    z-index:1;
}
.prev-btn{
    left:10px;
}
.next-btn{
    right:10px;
}
.prev-btn:hover,.next-btn:hover{
    background-color:rgba(0,0,0,0.2);
}
.indicator-carousel{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    justify-content:center;
    gap:10px;
}
.indicator{
    width:10px;
    height:10px;
    background-color:rgba(225,225,225,0.5);
    border-radius:50%;
    cursor:pointer;
    transition:background-color 0.3s ease;
}
.indicator.active{
    background-color:rgba(225,225,225,0.9);
}
.indicator:hover{
    background-color:rgba(225,225,225,0.7);
}
@media (max-width:768px){
    .prev-btn, .next-btn{
        font-size:30px;
        padding:8px;
    }   
    .indicator{
        width:10px;
        height:10px;
    }
}