body{
    font-family: 'arial',sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
    padding:0;
    background-color: #f0f0f0;
}
.quiz-container{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;
    background-color:rgb(179, 200, 247);
    max-width:100vh;
    max-height:90vh;
    width:70vh;
    border-radius:12px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    font-weight:500;
}
h1{
    margin-bottom:8px
}
.question-container{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(185, 241, 220);
    max-width:800px;
    width:85%;
    height:120px;
    font-size:1.2em;
    border-radius:12px;
    margin-bottom:24px;
    font-size:1.4em;
    padding:12px;
}
.answer-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:start;
    max-width:800px;
    gap:18px;
}
.answer-button{
    background-color:rgba(255, 247, 137, 0.623);
    border:none;
    padding:12px 4px;
    max-width:800px;
    width:85%;
    border-radius:12px;
    font-size:1.2em;
    font-weight: 700;
    cursor:pointer;
}
.start-quiz{
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    font-weight:600;
    font-size:1.4em;
    border-radius:12px;
    padding:20px;
    margin-top:10px;
    background-color: rgb(255, 213, 75);
    cursor:pointer;
    transition: 0.2s ease;
    margin-bottom:12px;
}

.nextPrev-container{
    display:flex;
    gap:300px;
}
.prev-button,.next-button{
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;
    font-weight:600;
    font-size:1.4em;
    border-radius:8px;
    padding:14px;
    margin-top:10px;
    background-color: rgb(255, 213, 75);
    cursor:pointer;
    transition: 0.2s ease;
}
.complete-container{
    display:flex;
    justify-content: center;
    align-items: end;
    font-weight:600;
    font-size:1.4em;
    border-radius:8px;
    margin-top:10px;
    background-color: rgb(255, 213, 75);
}
.return-button{
    border:none;
    font-weight:600;
    font-size:1em;
    border-radius:8px;
    padding:6px;
    background-color: rgb(255, 213, 75);
    cursor:pointer;
    transition: 0.2s ease;
}
.complete-button{
    border:none;
    font-weight:600;
    font-size:1em;
    border-radius:8px;
    padding:6px;
    background-color: rgb(255, 213, 75);
    cursor:pointer;
    transition: 0.2s ease;
}
.start-quiz:active,.start-quiz:hover{
    background-color: rgb(191, 206, 106);
}
.prev-button:hover,.next-button:hover,.complete-button:hover,.answer-button:hover,.return-button:hover{
    background-color: rgb(191, 206, 106);
}